middle.css
.Middle-con {
  display: flex;
  justify-content: center;
}
.podcast-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.podcast-card {
  border: 1px solid #8F7F7F;
  padding: 10px;
  text-align: center;
}
.podcast-card img {
  max-width: 100%;
  height: auto;
}
h2 {
  margin-top: 10px;
}
p {
  margin-top: 5px;
}


/* Add styles for the search input */
.search-input {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}
