/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #666262;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.logo {
    margin-right: 1rem;
}
  
.logoImg {
    width: 100px; /* Adjust the width as needed */
    height: auto;
}
  
/* Navigation styles */
 .navList {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
.navItem {
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    /* Add any other styles for navigation items here */
  }

.sort-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
  
.sort-buttons button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 14px;
    cursor: pointer;
}
  
.sort-buttons button:hover {
    background-color: #f1f1f1;
}
  
.sort-buttons button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

#genre{
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
  