
/* Style for the podcast app container */
.podcast-app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}


.podcast-item{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Style for each podcast show */
.podcast-show {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.podcast-image{
  width: 250px;
}

.podcast-show h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.podcast-show p {
  margin-bottom: 0;
}

/* Style for the podcast app heading */
.podcast-app h2 {
  text-align: center;
}

/* Style for the sign-in form container */
.signin-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.signin-form h2 {
  text-align: center;
}

.signin-form .form-group {
  margin-bottom: 10px;
}

.signin-form label {
  display: block;
  margin-bottom: 5px;
}

.signin-form input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.signin-form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Style for the success message */
.signin-form p {
  text-align: center;
  color: green;
  font-weight: bold;
}
